/* div{
    border: 1px solid black; 
    width: 500px; 
     align-items: center;
} */

.form{
    width: 630px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    /* background-color: rgba(51,59,60,255); 
    backdrop-filter: blur(8px); */
    margin-top: 40px;
    border-radius: 15px;
    height: 410px;
}

.header{
    margin-top: 10px;
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.required-field::before {
    content: "*";
    color: red;
}

#kword{
    border: none;
    width: 580px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid gray;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    /* padding-right: 10px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#loc{
    border: none;
    width: 580px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid gray;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    /* padding-right: 10px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#category{
    border: none;
    width: 266px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 8px;
    /* padding-right: 10px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#dist
{   border: none;
    width: 175px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid gray;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Keyword{
    margin-top: 20px; 
    padding-left: 20px;
    padding-bottom: 5px;
}
.distance{
    margin-top: 5px;  
    padding-right: 130px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.category{
    margin-top: 5px;  
    /* padding-left: 20px; */
    padding-bottom: 15px;
}
.location{
    /* margin-top: 10px;   */
    padding-left: 20px;
    padding-bottom: 10px;
    /* margin-bottom: -5px; */
}

#submit{
    float: left;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: 	#fd6c28;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #ff5100;
    margin-left: 20px;
}

#submit:hover {background-color: #fd8e53}
  
#submit:active {
    background-color: #FF7800;
    box-shadow: 0 5px #d76f15;
    transform: translateY(4px);
  }
#reset{
    margin-left: 10px;
    float: left;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: 	rgb(75,99,163);
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #1d4188;
}

#reset:hover {background-color: #5d7cb3}
  
#reset:active {
    background-color: #007fff ;
    box-shadow: 0 5px #0247fe ;
    transform: translateY(4px);
  }

html{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* #arrow {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: 1.0em;
} */

